.cover__subtitle {
    margin: auto;
    padding-top: 32px;
    width: 360px;
    height: 66px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.22;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 1.14;
        padding-top: 16px;
    }
}