.footer__link {
    color: white;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:last-of-type{
    margin-right: 0;
}

.footer__link:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 700px) {
    .footer__link {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 700px) {
    .footer__link:last-of-type {
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 576px) {
    .footer__link {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 576px) {
    .footer__link:last-of-type {
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 320px) {
    .footer__link {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 320px) {
    .footer__link:last-of-type {
        padding-bottom: 48px;
    }
}