.lead__title {
    margin: 0;
    padding: 0 132px;
    font-size: 96px;
    font-weight: bold;
    line-height: 1.05;
    text-align: center;
    max-height: 200px;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        padding: 0 104px;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        padding: 0 24px;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        padding: 0 16px;
        font-size: 40px;
        line-height: 1.1;
    }
}