.lead__title{
    margin: 0;
    font-size: 96px;
    font-weight: bold;
    line-height: 1.05;
    margin: auto;
    text-align: center;
    max-width: 720px;
    max-height: 200px;
}

@media screen and (max-width: 320px) {
    .lead{
        max-width: 288px;
        max-width: 88px;
    }
}