.lead__image{
padding: 0;
max-width: 100%;
height: auto;
background-size: cover;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-height: 580px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-height: 62.5vw;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        max-height: 200px;
    }
}