.lead__subtitle{
    margin: 0;
    margin-top: 32px;
    padding: 0 172px 56px;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2;
    align-content: flex-start;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
    padding: 0 144px 56px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
    padding: 0 calc((100vw - 640px)/2) 56px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
    margin-top: 16px;
    padding: 0 16px 40px;
    max-height: 40px;
    font-size: 16px;
    line-height: 1.25;
    }
}