.cover {
    padding: 0 48px 92px;
    height: 740px;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .cover {
    padding: 0 0 92px;
    height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        height: 480px;
        padding: 0 0 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        height: 200px;
        padding: 0 0 64px;
    }
}