.cover__background{
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    color: white;
    text-decoration: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   /* position: relative; */
}