.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100%;
    color: white;
    text-decoration: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
}

.cover__background::after {
    content: "";
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.cover__background:hover::after {
    opacity: 0.8;
    cursor: pointer;
}