.cover__title {
    margin: 0 auto 32px;
    max-width: 560px;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.056;
    position: relative;
    z-index: 2;
    text-align: center;
}

@media screen and (max-width: 372px) {
    .cover__title {
        font-size: 55px;
    }
}
    
@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
        margin: 0 16px 16px;
    }
}